/*!
* Gridpak Beta CSS
* Generator - http://gridpak.com/
* Created by @erskinedesign
* 12 columns
* 24px column padding
* 0px gutter
* 768px-769px breakpoint
*/
/* Reusable column setup */
.col {
	border: 0px solid rgba(0,0,0,0);
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
}
/* 1. 1 Column Grid 0px - 759px
-----------------------------------------------------------------------------
Span 1: 100%
----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 768px) {
	.col {
		margin-left: 0%;
		padding: 0 24px;
	}

	.row .col:first-child {
		margin-left: 0;
	}
/*
Add your semantic classnames in alongside their corresponding spans here. e.g.
.span_3,
.my_semantic_class_name {
...
}
*/
	.span_1 {
		margin-left: 0;
		width: 100%;
	}
}
/* 2. 12 Column Grid 760px - Infinity
-----------------------------------------------------------------------------
Span 1: 8.33333333333%
Span 2: 16.6666666667%
Span 3: 25.0%
Span 4: 33.3333333333%
Span 5: 41.6666666667%
Span 6: 50.0%
Span 7: 58.3333333333%
Span 8: 66.6666666667%
Span 9: 75.0%
Span 10: 83.3333333333%
Span 11: 91.6666666667%
Span 12: 100%
----------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
	.col {
		margin-left: 0%;
		padding: 0 24px;
	}

	.row .col:first-child {
		margin-left: 0;
	}

	.span_1 {
		width: 8.33333333333%;
	}

	.span_2 {
		width: 16.6666666667%;
	}

	.span_3 {
		width: 25.0%;
	}

	.span_4 {
		width: 33.3333333333%;
	}

	.span_5 {
		width: 41.6666666667%;
	}

	.span_6 {
		width: 50.0%;
	}

	.span_7 {
		width: 58.3333333333%;
	}

	.span_8 {
		width: 66.6666666667%;
	}

	.span_9 {
		width: 75.0%;
	}

	.span_10 {
		width: 83.3333333333%;
	}

	.span_11 {
		width: 91.6666666667%;
	}

	.span_12 {
		margin-left: 0;
		width: 100%;
	}
}
/*!
* fixes to Gridpak
*/
.row:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	overflow: hidden;
	width: 0;
	font-size: 0;
	line-height: 0;
}

.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}
/* @media screen and (min-width: 0px) and (max-width: 768px) {
	.container {
		clear: both;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 0 24px 0;
	}

	.col {
		border-left-width: 0px;
		float: none;
	}
}

@media screen and (min-width: 769px) {
	.container {
		clear: both;
		max-width: 760px;
		margin: 0 auto;
		padding: 0 0 24px 0;
	}

	.col {
		border-left-width: 0px;
	}
} */
